/*Universal Selector*/
* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/*HEADER*/
header {
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    border-bottom: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo {
    letter-spacing: 4px;
    margin-left: 1rem;
}

header nav {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    margin: 1rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.logo h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

/*MAIN*/
.main {
    position: absolute;
    top: 3.5rem;
    width: 100%;
    left: 0;
}

.main h1 {
    font-family: 'Nunito Sans', sans-serif;
    background-image: url(../img/sword-on-fire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: -2rem;
    margin-right: -2rem;
}

.main h3 {
    font-family: 'Tomorrow', sans-serif;
    font-style: italic;
}